.contact-container{
    border: dotted;
    height: 95vh;
    background-image: url(../../assets/Background-Contact-Form.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    .contact{
        border: solid;
        margin-left: 50vw;
        padding: 5rem;
        // padding-bottom: 5rem;
        height: 90%;
    }
}